---
import siteLogo from "../assets/site-logo.png";
// import Image from "astro/components/Image.astro";
import { Image } from "astro:assets";
---

<header>
  <nav>
    <a href="/" class="nav-logo"
      ><Image alt="Design Show Home" src={siteLogo} />
    </a>
    <div class="right-group">
      <a class="alternating-link" href="/designers"
        ><span>Designers</span></a
      >
      <p>•</p>
      <a class="alternating-link" href="/about"
        ><span>About</span></a
      >
      <p>•</p>
      <a class="alternating-link" href="/about"
        ><span>Instagram</span></a
      >
    </div>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-accent-b);
    color: var(--color-background);
    align-items: center;
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1rem;
  }
  .right-group {
    display: flex;
    gap: 0.5em;
  }
  a, p {
    display: block;
    font-family: "rustica", serif;
    padding: 0.5rem;
    text-decoration: none;
  }
  .nav-logo:hover,
  .nav-logo:focus-visible {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .nav-logo {
    width: clamp(100px, 22vw, 150px);
  }
  header {
    /* border-bottom: 1px solid var(--color-accent-a); */
  }
</style>
